# Detalles del proyecto
project-details/

# Node modules
node_modules/

# Logs
*.log

# Build outputs
dist/
build/
coverage/

# Env files
.env
.env.local

# Editor directories and system files
.vscode/
.idea/
.DS_Store
Thumbs.db
