# Node modules
node_modules/

# Tiddlers-export
scripts/tiddlers-export/

# Logs
*.log

# Build outputs
dist/
build/
coverage/

# Env files
.env
.env.local

# Editor directories and system files
.vscode/
.idea/
.DS_Store
Thumbs.db

